@import url('https://fonts.googleapis.com/css?family=|Raleway|Roboto|Titillium+Web:200,200i&subset=latin-ext');

/* Fonts: 'Roboto', 'Raleway', Titillium*/

body{
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background: #F4F4F4;
}
h2{
  font-family: 'Titillium', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 2.3em;
  margin-bottom: -10px;
}
#mainwrapper{
  background: #CDCDCD;
  height: 1000px;
  width: 80vw;
  max-width: 80vw;
  padding: 5vh 5vw;
  position: absolute;
  left:0;
  right:0;
  margin: auto;
  top: 50px;
}
nav{
  background: #F4F4F4; 
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
nav ul{
  position: relative;
  top: 10px;
}
nav ul li img{
  height: 24px;
  width: auto;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -3px;
}
nav ul li{
  display: inline-block;
  height: 32px;
  margin: 0 90px 0 0;
  border-bottom: 3px solid transparent;
  transition: 0.75s;
}
nav ul li a{
  text-decoration: none;
}
nav ul li:hover{
  border-bottom: 3px solid gray;
}
.backgroundimg{
  position: relative;
  background: url("./images/los-angeles.jpg");
  background-position: center;
  background-size: cover;
  width: 90vw;
  height:40vh;
  margin: -5vh -5vw;
}
.heading{
  font-family: 'Titillium', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 4em;
  color: white;
  text-shadow: 3px 1px 5px black;
  weight: 200;
  position: absolute;
  right: 3vw;
  bottom:-3vh;
}
.subtitle{
  font-family: 'Titillium', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 2em;
  color: white;
  text-shadow: 3px 1px 5px black;
  weight: 200;
  position: absolute;
  right: 3vw;
  bottom:-2vh;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.textwrapper{
  position: absolute;
  top: 400px;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.abtwrapper{
  position: absolute;
  top: 400px;
  min-height: 10vh;
  overflow: hidden;
  padding: 0 50px 0 0;
}
.abtwrapper::after {
  content: "";
  clear: both;
  display: table;
}
hr {
  width: 50%;
  border: 1px solid black;
  margin: 30px auto;
}
#tollfree, #email, #aura{
  max-width: 400px;
  /* border-left: 1px solid black; */
  padding: 20px;
}
.required:after{
  content: " *";
  color: red;
}
textarea {
  resize: none;
  overflow-y: scroll;
}
.emailus{
  display: block;
  background: darkgrey;
  max-width: 150px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
  transition: 0.5s;
}
.emailus a{
  color: white;
  text-decoration: none;
}
.emailus:hover{
  background: dimgray;
  letter-spacing: 3px;
}
.videowrapper {
  position: relative;
  text-align: center;
  color: white;
  float: left;
  margin-right: 10px;
}
.bottom-left {
  position: absolute;
  bottom: 6px;
  left: 0;
  font-size: 8px;
  background: rgba(0,0,0,0.8);
  padding: 2px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: darkgrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
