body{
  background: black;
  color: lime;
  font-family: monospace;
}
#loginwrapper{
  width: 40vw;
  height: 30vh;
  max-width: 40vw;
  max-height: 30vh;
  border: 1px solid lime;
  position: absolute;
  left: 0;
  right: 0;
  top: 30vh;
  margin: auto;
}
h1{
  font-family: monospace;
  font-size: 3em;
  text-align: center;
}
hr{
  border: 1px solid lime;
}
.centered{
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.centered p{
  width: 600px;
  position: absolute;
  bottom: -180px;
  left: -190px;
  margin: auto;
}
.centered form input[type=button], input[type=submit], input[type=reset], input[type=password] {
  font-family: monospace;
  color: lime;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid lime;
  margin: 10px auto;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid lime; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  text-align: left;
  text-transform: uppercase;
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: lime; }
}
#consolewrapper{
  width: 800px;
  height: 800px;
  max-width: 800px;
  max-height: 800px;
  border: 1px solid lime;
  position: absolute;
  left: 0;
  right: 0;
  top: 3vh;
  margin: auto;
  padding: 10px;
  overflow-y: scroll;
}

ul{
  float: left;
}

a {
  color: lime;
  text-decoration: none;
}
p{
  margin: 0 0 0 200px;
}
pre{
  font-size: 4px;
}

/* DO NOT GO BELOW THIS!! */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lime;
}
.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  right: 0;
  margin: auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: lime;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
